<!-- profile_driver.html -->
{% extends "base.html" %}
{% load static %}
{% block title %}
    Profile - Driver
{% endblock %}   
{% block main %}
    <div class="flex justify-center items-center h-screen">
        <div class="bg-white rounded-lg shadow-lg p-8 max-w-md mx-auto justify-center border">
            <div class="form w-96">
                <h2 class="text-center text-2xl font-semibold mb-6">ข้อมูลคนขับรถ</h2>
                <div class="mb-4">
                    <label for="first_name" class="block mb-2">ชื่อ :</label>
                    <p class="w-full px-4 py-2 border border-gray-300 rounded-md mb-4 focus:outline-none focus:border-ebg-emerald-600">{{ user.first_name }}</p>
                </div>
                <div class="mb-4">
                    <label for="last_name" class="block mb-2">นามสกุล :</label>
                    <p class="w-full px-4 py-2 border border-gray-300 rounded-md mb-4 focus:outline-none focus:border-ebg-emerald-600">{{ user.last_name }}</p>
                </div>
                <div class="mb-4">
                    <label for="address" class="block mb-2">ที่อยู่ :</label>
                    <p class="border border-gray-300 rounded-md px-4 py-2">{{ user.address }}</p>
                </div>
                <div class="mb-4">
                    <label for="phone" class="block mb-2">เบอร์โทรศัพท์ :</label>
                    <p class="border border-gray-300 rounded-md px-4 py-2">{{ user.phone }}</p>
                </div>
                <div class="mb-4">
                    <label for="email" class="block mb-2">E-mail :</label>
                    <p class="border border-gray-300 rounded-md px-4 py-2">{{ user.email }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}





