<!-- home.html -->
{% extends "components/base.html" %}
{% load static %}


{% block cart %}
<!-- Middle Banner - Combine Harvester -->
<div class="page-banner text-center py-4">
    <h2 class="text-white">รถเกี่ยวนวดข้าว</h2>
    <img src="https://raw.githubusercontent.com/veerachot113/image/main/LO_BANNER-NEW-WEB-CH-1900x567-px.webp"
        alt="Combine Harvester Image" width="573" height="191" class="img-fluid mb-3">
</div>

<div class="container-fluid bg-light">
    <div class="row">
        <h3>รายการรถเกี่ยว</h3>
    </div>
</div>
<div class="container my-5">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for vehicle in vehicles %}
      <div class="col">
        <div class="card shadow-sm">
          <img src="{{ vehicle.image.url }}" class="card-img-top" alt="{{ vehicle.model }}">
          <div class="card-body">
            <h5 class="card-title">รุ่น:{{ vehicle.model }}</h5>
            <p class="card-text">{{ vehicle.name }}</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">ราคา: {{ vehicle.price }}ต่อไร่</li>
              <li class="list-group-item">จังหวัด: {{ vehicle.province }}</li>
            </ul>
            <a href="{% url 'booking' vehicle.id %}" class="btn btn-primary">จอง</a>
<a href="calendar.html" class="btn btn-secondary">ตารางงาน</a>
<a href="#" class="btn btn-info">ข้อมูลรถเกี่ยวนวดข้าว</a>
<a href="#" class="btn btn-warning">ข้อมูลคนขับ</a>

          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>



{% endblock %}
