<!-- home.html -->
{% extends "components/base.html" %}
{% load static %}

{% block extra_css %}
<style>
    .card-body {
        position: relative;
    }

    .gg-more-vertical-alt {
        position: absolute;
        top: 0;
        right: 0;
    }

    i {
        color: black;
        margin-right: auto;
    }

    .dropdown-menu {
        right: 50%;
        transform: translateX(100%);
    }

    .bi-three-dots-vertical {
        position: absolute;
        top: 0;
        right: 1;
    }

    svg {
        color: black;
        margin-right: auto;
    }

    .btn-primary,
    .btn-secondary {
        display: block;
        margin: 0 auto;
    }
</style>
{% endblock %}
</style>
{% endblock %}

{% block cart %}
<!-- Middle Banner - Combine Harvester -->

<div class="page-banner text-center py-4">
    <h2 class="text-white">รถเกี่ยวนวดข้าว</h2>
    <img src="https://raw.githubusercontent.com/veerachot113/image/main/LO_BANNER-NEW-WEB-CH-1900x567-px.webp"
        alt="Combine Harvester Image" width="573" height="191" class="img-fluid mb-3">
</div>

<div class="container-fluid bg-light">
    <div class="row">
        <h3>รายการรถเกี่ยว</h3>
    </div>
</div>
<div class="container my-5">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for vehicle in vehicles %}
      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <div class="dropdown-menudriver">
              <a class="dropdown-toggle hidden-arrow" type="button" id="dropdownMenuButton1"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="gg-more-vertical-alt"></i>
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">ข้อมูลคนขับ</span></a></li>
                  <li><hr class="dropdown-divider bold"></li>
                  <li><a class="dropdown-item" href="#">ข้อมูลรถเกี่ยวนวดข้าว</span></a></li>
              </ul>
          </div>

          <h5 class="card-title">รุ่น:{{ vehicle.model }}</h5>
          <h5 class="card-title">ประเภท:{{ vehicle.name }}</h5>
          <h5 class="card-title">ราคา:{{ vehicle.price }}ต่อไร่</h5>
          <img src="{{ vehicle.image.url }}" class="card-img-top" alt="{{ vehicle.model }}">
            <a href="{% url 'booking' vehicle.id %}" class="btn btn-primary">จอง</a>

            <a href="calendar.html" class="btn btn-secondary">ตารางงาน</a>

          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>



{% endblock %}