
    .card-body {
        position: relative;
    }

    .gg-more-vertical-alt {
        position: absolute;
        top: 0;
        right: 0;
        color: red;
    }

    .i1 {
        color: black;
        margin-right: auto;
    }

    .home-dropdown-menu {
        right: 50%;
        transform: translateX(100%);
    }

    .bi-three-dots-vertical {
        position: absolute;
        top: 0;
        right: 1;
    }

    svg {
        color: black;
        margin-right: auto;
    }

    .home-btn-primary{
        color: brown;
    },
    .home-btn-secondary {
        display: block;
        margin: 0 auto;
    }
